<h1>Now you have {{articles.length}} articles</h1>
<table class="table table-bordered" id="userTable">
    <thead>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>id</th>
        <th>Status</th>
        <th>View Article</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="article in articles">
        <td>{{article.title}}</td>
        <td>{{article.date}}</td>
        <td>{{article.id}}</td>
        <td>{{article.status}}</td>
        <td><a class="btn btn-info" ng-href="#/viewarticle/{{article.id}}">View Article</a></td>
    </tr>
    </tbody>
</table>